<!DOCTYPE html>
<html>
<head>
  <meta charset"utf-8">
  <title>PROJ 2</title>
  <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-defualt">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="nav-header" class="navbar-brand">Welcome</a>
      </div>


      <div class="collapse navbar-collapse" id="user-menu">
        <ul class="nav navbar-nav">
           
           <li><a href="/signup">Signup</a></li> 
           <li><a href="/login">Login</a></li>
           
            
        </ul>
      </div>
    </div>
  </nav>


  <main class="container">          

