<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		#user-menu {
          padding-right: 50px;
          margin-right: 0px;
          background: black;
          color: white;
          border-radius: 10px 10px 10px 10px;

        }
		
		#grid-layout {
			margin-left: 16%;
			height: 1000px;
			width: 1140px;
			background: url("https://images.pexels.com/photos/551628/pexels-photo-551628.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb") no-repeat;
			background-size: cover;
			border-radius: 30px;
		}

        #nav-header {
          margin-left: 20px;
        }

        h1 {
          font-family: 'Bungee Inline';
          color: black;
          text-shadow: 2px 2px 2px grey;
          
        }
        #header-home {
          font-size: 100px;
        }
        a {
          left: 20px;
          margin-left: 10px;
          font-size: 20px;
          color: white;
          font-family: 'Bungee Inline';
          float: right;
        }
	</style>
</head>
<body>
	

 
   <nav class="navbar navbar-defualt">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="nav-header" class="navbar-brand">Home</a>
      </div>


      <div class="collapse navbar-collapse" id="user-menu">
        <ul class="nav navbar-nav" id="nav-items">
           
           <li><a href="#" id="signup">Search</a></li> 
           <li><a href="/" id="logout">Logout</a></li>
           
            
        </ul>
      </div>
    </div>
  </nav>

  <main>

  	<div id="grid-layout">
		
  	</div>	




    <!-- jQuery  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="Public/scripts/app.js"></script>


    <% include ./partials/footer.ejs %>
    

