<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PROJ 2</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
    <style>
        body {
          background: url('https://static.pexels.com/photos/406014/pexels-photo-406014.jpeg') no-repeat;
          background-size: cover;
        }
        
        #user-menu {
          padding-right: 50px;
          margin-right: 0px;
          background: black;
          color: white;
          border-radius: 10px 10px 10px 10px;

        }

        #nav-header {
          margin-left: 20px;
        }

        h1 {
          font-family: 'Bungee Inline';
          color: black;
          text-shadow: 2px 2px 2px grey;
          
        }
        #header-home {
          font-size: 100px;
        }
        a {
          left: 20px;
          margin-left: 10px;
          font-size: 20px;
          color: white;
          font-family: 'Bungee Inline';
          float: right;
        }

        #sign-up-form-container {

        }

        .sign-up-form {
          background: grey;
          height: 300px;
          width: 350px; 
          position: absolute;
          float: right;
          top: 10%;
          left: 70%;
          padding: 25px 25px 25px 25px;
          border:  5px solid black;
          border-radius: 10px 10px 10px 10px;
          display: none;
        }

    </style>
  </head>
  <body>
    <% include ./partials/headers/header-index.ejs %>

    <h1 id="header-home">The Rescue Repository</h1>
    
    <div id="sign-up-form-container">
      <div class="sign-up-form">
        <form method="post" action="/signup">
          <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="text" name="email" id="email">
          </div>

          <div class="form-group">
            <label for="email">Password</label>
            <input class="form-control" type="password" name="password" id="password">
          </div>

          <input class="btn btn-default" type="submit">
        </form>

      </div>
     </div> 



    <!-- jQuery  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="Public/scripts/app.js"></script>


    <% include ./partials/footer.ejs %>
    
 