<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PROJ 2</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="http://localhost:3000/css/login.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">

  </head>
  <body>
  
  <!--nav Bar-->
   <nav class="navbar navbar-defualt">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="nav-header" class="navbar-brand">Welcome</a>
      </div>


      <div class="collapse navbar-collapse" id="user-menu">
        <ul class="nav navbar-nav" id="nav-items">
           
           <li><a href="/signup" id="signup">Signup</a></li> 
           <li><a href="/" id="logout">Logout</a></li>
           
            
        </ul>
      </div>
    </div>
  </nav>

  <!--log-in form-->
  <main class="container">        
    <h1 id="header-home">The Rescue Repository</h1>
    
    <div id="sign-up-form-container">
      <div class="sign-up-form">
        <h3>Log In!</h3>
        <form method="get" action="/home">
          <div class="form-group">
            <label id="email-field" for="email">Email:</label>
            <input class="form-control" type="text" name="email" id="email">
          </div>

          <div class="form-group">
            <label id="password-field" for="email">Password:</label>
            <input class="form-control" type="password" name="password" id="password">
          </div>

          <input class="btn btn-default" type="submit" id="submit-btn">
        </form>

      </div>
     </div> 



    <!-- jQuery  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <% include ./partials/footer.ejs %>
    
 