<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PROJ 2</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">

    <!--stylesheets(outsource this!!!)-->
    <style>
        body {
          background: url('https://static.pexels.com/photos/406014/pexels-photo-406014.jpeg') no-repeat;
          background-size: cover;
        }
        h1 {
          font-family: 'Bungee Inline';
          color: black;
          text-shadow: 2px 2px 2px grey;
          
        }
        #user-menu {
          background: black;
          margin-right: 0px;
          border-radius: 10px 10px 10px 10px;
        }

        #nav-header {
          margin-left: 20px;
        }

        #nav-items {
          text-align: right;
        }

        #header-home {
          font-size: 100px;
        }
         a {
          left: 20px;
          margin-left: 10px;
          font-size: 20px;
          color: white;
          font-family: 'Bungee Inline';
        }

        #logout, #signup {
          float: right;
        }

        h3 {
          position: absolute;
          top: -20%;
          left: 10%;
          font-family: 'Bungee Inline';
          color: grey;
        }

        #sign-up-form-container {

        }

        .sign-up-form {
          background: #F5B7B1;
          height: 300px;
          width: 350px; 
          position: absolute;
          float: right;
          top: 10%;
          left: 63%;
          margin-top: 20px;
          padding: 25px 25px 25px 25px;
          border:  5px solid grey;
          border-radius: 10px 10px 10px 10px;
          box-shadow: 5px 5px 5px black;
          
        }

        #password-field {
          text-decoration: underline;
          color: grey;
        }

        #email-field {
          text-decoration: underline;
          color: grey;
        }

        #email {
          border: 2px solid grey;
        }

        #password {
          border: 2px solid grey;
        }

        #submit-btn {
          border: 2px solid grey;
        }

    </style>
  </head>
  <body>
  
  <!--nav Bar-->
   <nav class="navbar navbar-defualt">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="nav-header" class="navbar-brand">Welcome</a>
      </div>


      <div class="collapse navbar-collapse" id="user-menu">
        <ul class="nav navbar-nav" id="nav-items">
           
           <li><a href="/signup" id="signup">Signup</a></li> 
           <li><a href="/" id="logout">Logout</a></li>
           
            
        </ul>
      </div>
    </div>
  </nav>

  <!--log-in form-->
  <main class="container">        
    <h1 id="header-home">The Rescue Repository</h1>
    
    <div id="sign-up-form-container">
      <div class="sign-up-form">
        <h3>Log In!</h3>
        <form method="get" action="/home">
          <div class="form-group">
            <label id="email-field" for="email">Email:</label>
            <input class="form-control" type="text" name="email" id="email">
          </div>

          <div class="form-group">
            <label id="password-field" for="email">Password:</label>
            <input class="form-control" type="password" name="password" id="password">
          </div>

          <input class="btn btn-default" type="submit" id="submit-btn">
        </form>

      </div>
     </div> 



    <!-- jQuery  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--<script src="public/scripts/app.js"></script>-->


    <% include ./partials/footer.ejs %>
    
 