body {
          background: url('https://static.pexels.com/photos/406014/pexels-photo-406014.jpeg') no-repeat;
          background-size: cover;
        }
        
        #user-menu {
          padding-right: 50px;
          margin-right: 0px;
          background: black;
          color: white;
          border-radius: 10px 10px 10px 10px;

        }

        #nav-header {
          margin-left: 20px;
        }

        h1 {
          font-family: 'Bungee Inline';
          color: black;
          text-shadow: 2px 2px 2px grey;
          
        }
        #header-home {
          font-size: 100px;
        }
        a {
          left: 20px;
          margin-left: 10px;
          font-size: 20px;
          color: white;
          font-family: 'Bungee Inline';
          float: right;
        }

        #sign-up-form-container {

        }

        .sign-up-form {
          background: grey;
          height: 300px;
          width: 350px; 
          position: absolute;
          float: right;
          top: 10%;
          left: 70%;
          padding: 25px 25px 25px 25px;
          border:  5px solid black;
          border-radius: 10px 10px 10px 10px;
          display: none;
        }